<h1 class="text-center" >List of Articles</h1>

  <div class="container justify-content-center ">
      <div class="container ">
        <div class="row justify-content-center text-center ">
          <div class="col-8 mt-2">
          <% if logged_in? %>
          <%= link_to 'Create new Article', new_article_path, class:"btn btn-success" %>
          <% end %>
          </div>
        </div>
      </div>

      <div class="flickr_pagination mb-3 p-2">
            <div class="page_info m-2">
              <%= page_entries_info @articles %>
            </div>
            <%= will_paginate @articles, :container => false %>
      </div>
      <%= render 'article' %>

      <div class="flickr_pagination mb-4">
            <div class="page_info m-2">
              <%= page_entries_info @articles %>
            </div>
            <%= will_paginate @articles, :container => false %>
      </div>
  </div>
