<h1 class="text-center" >Categories</h1>
<div class="container mb-3">
  <div class="flickr_pagination mb-2">
        <div class="page_info m-2">
          <%= page_entries_info @categories %>
        </div>
        <%= will_paginate @categories, :container => false %>
  </div>

  <% @categories.each do |category| %>

    <div class="row justify-content-center text-center ">
      <div class="col-6">
        <div class="card text-center shadow mb-2 bg-body rounded">

            <div class="card-body justify-content-md-center ">
                <h5 class="card-title"><%= link_to category.name, category_path(category), class:"text-success" %></h5>
                <p class="card-text"><%= pluralize(category.articles.count, "article") %></p>
            </div>
          <div class="card-footer text-muted">
            <small> Created <%= time_ago_in_words(category.created_at) %> ago
            Edited  <%= time_ago_in_words(category.updated_at) %>  ago </small>
          </div>
        </div>
      </div>
      <% end %>
  </div>

  <div class="flickr_pagination mb-4">
        <div class="page_info m-2">
          <%= page_entries_info @categories %>
        </div>
        <%= will_paginate @categories, :container => false %>
  </div>
</div>
